* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.container {
    height: 100vh;
    display: flex;
    background-color: #f0f0f0;
}

.left {
    width: 16%;
    height: 100%;
    padding: 2vw;
}


.right {
    margin-top: 1vh;
    width: 80%;
    height: 100%;
    background: #fff;
    border-radius: 5px;
    padding: 2vh 1vw;
    overflow: auto;
}



.side_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.side_header>img {
    width: 50%;
}

.search {
    padding: 1vh 1vw;
    background: white;
    display: flex;
    gap: 1vw;

    margin: 4vh 0;
}

.search>input {
    width: 100%;
    border: none;
    outline: none;
}

.search>svg {
    fill: gray;
}


nav {
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
}

nav>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;
}

nav>div>p {
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

nav>div>span {
    background-color: white;
    padding: 0.2vw;
    border-radius: 5px;
}

.notif {
    background-color: red;
    color: white;
    padding: 2px 6px;
}


.groups {
    padding: 6vh 0 1vh 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.212);
}

.new_group {
    color: rgba(128, 128, 128, 0.722);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vh 5px;
}

.group {
    display: flex;
    align-items: center;
    gap: 1vw;
    color: gray;
    padding: 1vh 5px;
}

.active_grp {
    background-color: white;
    border-radius: 10px;
    color: black;
}

.all_options>div {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    padding: 0.8vh 3vw;
}

.all_options {
    margin-top: 6vh;
    max-height: 10vh;
    overflow-y: auto;
}

.all_options::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
    ;
}

.all_options::-webkit-scrollbar-thumb {
    width: 2px;
    background-color: rgba(128, 128, 128, 0.764);
}

.pt-6 {
    padding-top: 6vh;
}


/*  right  */

.right_header {
    display: flex;
    align-items: center;
    gap: 2vw;
    padding: 2vh 0;
}

.right_header>p {
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.right_header>p>span {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    font-weight: bolder;
}

.ctbtrs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ctbtrs_mg {
    display: flex;
    align-items: center;
    gap: 1.5vw;
}

.ctbtrs_img {
    position: relative;
}

.ctbtrs_img>img {
    margin: -1.5vh;
    width: 40px;
    border-radius: 50%;
}

.ctbtrs_mg>button,
.menu {
    border: 1px solid rgba(128, 128, 128, 0.332);
    background-color: transparent;
    padding: 0.5vh 0.5vw;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh 0;
}

.filter>.left {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 1vw;
    padding: 0;
}

.filter>.right {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 1vw;
    padding: 0;
}

.filter>.left>button,
.filter>.right>button {
    display: flex;
    align-items: center;
    padding: 0.8vh 0.6vw;
    border: 1px solid #8080805e;
    background-color: transparent;
}


/* *table */


table {
    width: 100%;
    border-bottom: 0;
}

th {
    color: gray;
    padding: 2vh 1vw;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
    text-align: start;
}


td {
    color: black;
    padding: 2vh 1vw;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
    /* background-color: black; */
}

td>div {
    display: flex;
    align-items: center;
    gap: 1vw;
}

td>div img {
    width: 40px;
    border-radius: 50%;
}

td>.type {
    background-color: #808080b2;
    color: white;
    padding: 0.3vw 0.5vw;
    border-radius: 20px;
}

td>.tier_container {
    display: flex;
    gap: 1vw;
    align-items: center;
}

td>.tier_container>.tier {
    padding: 0.3vw 0.5vw;
    border-radius: 10px;
}

.yellow_tier {
    background-color: rgba(255, 255, 0, 0.586);
}

label  , #menu_trigger{
    display: none;
}



@media (max-width: 440px) {

    label {
        display: initial;
    }
    .container > .left {
        position: fixed;
        z-index: 20;
        width: 75%;
        left: -100%;
        transition: 0.5s;
        background-color: #f0f0f0;
        /* position: ; */
    }


    #menu_trigger:checked + .left {
        left: 0;
    }

    .container > .right {
        width: 100%;
    }

    .ctbtrs > h1 {
        font-size: larger;
    }

    .ctbtrs > .ctbtrs_mg {
        gap: 3vw;
    }

    .ctbtrs_mg > .ctbtrs_img > img {
        width: 25px;
    }

    .t_wrapper {
        width: 100%;
        overflow-x: auto;
    }

    table {
        width: 100%;
    }

    thead{
        display: none;
    }
    
    tr{
        background-color: #f0f0f0;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 2vh;
        border: none;
    }

    tr > td {
        border: none;
    }

    tr > td:nth-child(7) , tr > td:nth-child(6) , tr > td:nth-child(1){
        display: none;
    }


    tr> td:nth-child(2) > div {
        /* background: #000; */
        justify-content: space-between;
    }

    tr> td:nth-child(3) > div {
        /* background: #000; */
        flex-direction: column;
        align-items: start;
        font-size: 30px;
        gap: 2vh;
        font-weight: bolder;
    }

    tr> td:nth-child(3) > div  > img{
        /* background: #000; */
        
        width: 100%;
        height: 50vh;
        object-fit: cover;
        border-radius: 0;
    }
    tr> td:nth-child(4) {
        /* background: #000; */
        border: none;
       
        
    }


}